[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/DataSource"]
	path = Carthage/Checkouts/DataSource
	url = https://github.com/Vadim-Yelagin/DataSource.git
